# Booleans

In [0]:
x = True
y = "False"

In [0]:
## check types
print(type(x)
print(type((y)))

In [0]:
# reassign and return booleans
x = 5 == 5
y = 5 == 6

In [0]:
## booleans are numeric 1/0

In [0]:
## Look for True with and/or

## Boolean Exercise

Modify the code below to calculate the answer of `a` + `b` + `c` - `d`

> **Hint: The answer is 1**

In [7]:
a = True
b = True
c = False
d = True
a+b+c-d

1

# Strings

In this module, we will dive into strings and how to work with them.

In [0]:
## lets start with a string here:

In [0]:
## length

In [3]:
## methods to the string (length, upper, lower, capitalize, etc)
my_string="Hello World"
ms = my_string
## ^^ remember, my_string.<tab> is our friend

In [4]:
# string number to int
len(ms)

11

In [0]:
## paste

In [0]:
## string formatting

In [0]:
## case sensitivity

In [5]:
a = 12
b = a
a = 6
print(b)

12

### Exercise: Hello World 

Below:

1.  create a variable called **`myname`** to store your first land last name (e.g. Brock Tibert)
2.  create a variable called **`hw`** to generate a string that says Hello, my name is **`<your name here>`**! where **`<your name here>`** is the value of **`myname`** 
3.  print the variable **`hw`**

In [7]:
## create your name
myname = "Kyle"
"My Name is {}".format("Kyle")
str = "My Name is {1} and my favorate color is {0}"
str.format("Blue", "Kyle")

'My Name is Kyle and my favorate color is Blue'

In [0]:
## build the statement
hw = ""

In [0]:
## print the statement

In [10]:
a = "ABC"
b = "DEF"
"|".join([a,b])

'ABC|DEF'