In [1]:
## Setup your environment
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## pandas options for printing the dataframe
pd.options.display.max_columns=100

# Dates Exercise- 1

The following exercise is to help reinforce the working with dates in python and dataframes, more specifically.

In [34]:
# read in the landslides file as landslides from the course site - 
land = pd.read_csv("/Users/Kyle_Staples/Documents/GitHub/IS834/datasets/landslides.csv", parse_dates = ["date"])

In [35]:
# the tail of the dataset
land.tail()

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,location_description,latitude,longitude,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
1688,7535,2015-12-07,NaN,NaN,United States,US,North Carolina,1646,Tryon,7.80866,Above road,35.2219,-82.3226,"(35.221899999999998, -82.322599999999994)",Landslide,Rockfall,Small,NaN,NaN,0.0,0.0,Tryon Daily Bulletin,http://www.tryondailybulletin.com/2016/02/26/u...
1689,7537,2016-02-22,0:00,NaN,United States,US,West Virginia,51400,Charleston,6.84721,Natural slope,38.3987,-81.5848,"(38.398699999999998, -81.584800000000001)",Landslide,Mudslide,Small,Unknown,NaN,0.0,0.0,Charleston Gazette,http://www.wvgazettemail.com/news/20160222/us-...
1690,7539,2016-02-23,NaN,NaN,United States,US,West Virginia,2406,Welch,14.19735,Above road,37.4096,-81.4268,"(37.409599999999998, -81.4268)",Landslide,Landslide,Small,Rain,NaN,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/officials-cautio...
1691,7540,2016-02-26,21:06,NaN,United States,US,West Virginia,1048,Athens,12.00678,Above road,37.5011,-81.1093,"(37.501100000000001, -81.109300000000005)",Landslide,Rockfall,Small,Unknown,NaN,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/rockslide-snarls...
1692,7541,2016-03-02,8:00,NaN,United States,US,Vermont,2066,Windsor,1.78429,Above road,43.4771,-72.4066,"(43.4771, -72.406599999999997)",Landslide,Rockfall,Small,Unknown,NaN,0.0,0.0,Valley News,http://www.vnews.com/home/21353539-95/loose-ledge

In [47]:
# remove the rows where time is missing (NaN) -- call the dataframe land2
land2 = land.dropna(subset=['time'])

In [55]:
# parse the date column as date2 from land2

# Dates Exercise- 2

The following exercise is to help reinforce the working with dates in python and dataframes, more specifically.

In [56]:
## The dictionary of dates to parse
date_dict = {'date':['2019-27-09'], 
             'fullday':['Fri Jan 7 2017 10:15 AM'], 
             'hourmin':['13:14'], 
             'timestamp':['Wed, 20 Mar 2019 16:24:28 GMT']}

In [61]:
## make a pandas dataframe called dates
dates = pd.DataFrame(date_dict)

In [63]:
## parse the date column as a datetime as date_parsed
dates['date_parsed'] = pd.to_datetime(dates['date'], format="%Y-%d-%m")

In [0]:
## parse fullday into fullday_parsed
dates['fullday_parsed'] = xt

In [0]:
## parse hourmin into hourmin_parsed
dates['hourmin_parsed'] =

In [0]:
# parse the timestamp into timestamp_parsed
dates['timestamp_parsed'] =

In [0]:
## parse out the month day and year from date_parsed
dates['month'] = 
dates['day'] = 
dates['year'] =

In [0]:
# This is hard one!
# build a column called date_combined that uses the newly created month, day, and year columns
dates['date_combined'] =

> Hint:  pandas is really smart at guessing and trying different formats, and combining columns too!