# Group By and Aggregation Lab Exercise

In this lab, we will reinfornce what we learned with Group By and Aggregation

In [0]:
## update the latest seaborn (0.9.0)

In [1]:
## setup our environment
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## pandas print columns option
pd.set_option('display.max_columns', 100)

## set the styling for seaborn
sns.set_style("white")

## pandas print columns option (100)


## set the styling for seaborn (white)

## About The dataset

- uses a `;` for the delimiter
- the column names are `'my_datetime', 'event', 'country', 'user_id', 'source', 'topic'`

In [31]:
# import the group-by-exercise.csv file on the course site as articles
articles = pd.read_csv("/Users/Kyle_Staples/Documents/GitHub/IS834/datasets/group_by-exercise.csv", header = None, sep=";")

articles

                        0     1          2           3        4              5
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10    2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
15    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
17    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
18    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
19    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
20    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
21    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
22    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
23    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
24    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
25    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
26    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
28    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
29    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
...                   ...   ...        ...         ...      ...            ...
1765  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1766  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1767  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1768  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1769  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1770  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1771  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1772  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1773  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1774  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1775  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1776  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1777  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1778  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1779  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1780  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1781  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1783  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1784  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1786  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1788  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1789  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [37]:
articles.rename(columns = {0:'my_datetime', 1:'event', 2:'country', 3:'user_id', 4:'source', 5:'topic'}, inplace = True)

In [39]:
# check the types of the datas
articles.dtypes

my_datetime    object
event          object
country        object
user_id         int64
source         object
topic          object
dtype: object

In [40]:
# if you havent already, made the timestamp column a datetime
articles['timestamp'] = pd.to_datetime(articles["my_datetime"],format = "%Y-%m-%d %H:%M:%S" )

## Question 1:  Which source referred the most users?

In [41]:
articles.groupby("source").count()

         my_datetime  event  country  user_id  topic  timestamp
source
AdWords          500    500      500      500    500        500
Reddit           949    949      949      949    949        949
SEO              346    346      346      346    346        346

## Question 2:  Which topic and source combination had the most users  in country 7

In [43]:
articles.groupby(["topic","source"]).count()

                       my_datetime  event  country  user_id  timestamp
topic         source
Africa        AdWords           22     22       22       22         22
              Reddit            88     88       88       88         88
              SEO               15     15       15       15         15
Asia          AdWords          146    146      146      146        146
              Reddit           487    487      487      487        487
              SEO               34     34       34       34         34
Australia     AdWords           27     27       27       27         27
              Reddit            72     72       72       72         72
              SEO               22     22       22       22         22
Europe        AdWords          187    187      187      187        187
              Reddit           103    103      103      103        103
              SEO               32     32       32       32         32
North America AdWords           58     58       58       58         58
              Reddit            92     92       92       92         92
              SEO              176    176      176      176        176
South America AdWords           60     60       60       60         60
              Reddit           107    107      107      107        107
              SEO               67     67       67       67         67

## Question 3:  Create a bar chart for the number of users per hour of the day

Using the full dataset, articles

In [45]:
# add hour to the dataset
articles['hour'] = pd.to_datetime(articles['timestamp'], format = "%H")

In [47]:
## rename the user_id column that is the count to total_visitors
articles.rename(columns = {"user_id":"total_visitors"}, inplace = True)

In [0]:
## make the plot - with Hour of the Day as the x-axis label, Total Visitors as the y label, and Visitors by Hour for the Plot Title