In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime  
from sklearn.model_selection import train_test_split

In [54]:
dd = pd.read_csv('/Users/Kyle_Staples/Class/1_Spring_2019/MK476/project/DC_Properties.csv')
dd2=dd.copy()
dd.dropna(subset=['PRICE'],inplace = True)
dd3 = dd[['PRICE','BATHRM','BEDRM','AYB','YR_RMDL','']].copy()
dd3.dropna(inplace=True)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#dd.isna().sum()

In [52]:
dd3.corr()

           BATHRM     BEDRM       AYB   YR_RMDL     PRICE
BATHRM   1.000000  0.758705 -0.164538  0.246778 -0.025511
BEDRM    0.758705  1.000000 -0.253362  0.252995 -0.057548
AYB     -0.164538 -0.253362  1.000000  0.003346  0.122437
YR_RMDL  0.246778  0.252995  0.003346  1.000000  0.030089
PRICE   -0.025511 -0.057548  0.122437  0.030089  1.000000

In [55]:
dd3.to_csv('/Users/Kyle_Staples/Class/1_Spring_2019/MK476/project/subset.csv', index=False)

In [48]:
['']