# Refresher Exercise

In this notebook, we are going to go through a warmup exercise to reinforce the fundamentals

# Section 1:  Setup our python environment

In [1]:
import pandas as pd
import numpy as np

# Section 2: Import the dataset

Import the dataset as `wine`

In [8]:
# bring in the dataset
url = "https://raw.githubusercontent.com/shri1407/Wine-Quality-Dataset/master/winequality-white.csv"
wine = pd.read_csv(url, delimiter=";")

# Section 3: Quick Summary of the dataset

What methods do we have available to us to look at and do a quick first pass of the dataset?

In [9]:
wine.shape

(4898, 12)

In [10]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [12]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

# Section 4: Filter Rows and Columns

In [13]:
# filter rows where pH greater than or equal to 3.18 or alchohol greater than 10.4
# save as wine2
wine2 = wine.loc[(wine["pH"]>=3.18)&(wine["alcohol"]>10.4)]

In [0]:
## keep only the ph, alcohol, chlorides, and quality columns from our dataset
## use the dataset that we filtered above (wine2) as the base dataset
wine2.drop(columns = ["fixed acidity","volatile acidity",citric acid ])

# Section 5 - Statistical Correlation of `wine3` dataset

Create a correlation matrix from the dataframe.  Hint:  you saw this in the assignment, and can always look around (help, web) for how to generate correlation statistics using pandas dataframes.

# Section 6 - Scatterplot of quality against alchohol

We will go into more plotting tonight, but we saw quick scatter plots last week.  

Create a scatter plot of alcohol on the x axis, quality on the y axis.

In [0]:
# plot
)

In [0]:
## bonus - add a title to the chart = Alcohol by Quality