In [2]:
import numpy as np

In [3]:
x = 1,2,3,4

In [4]:
list(x)

[1, 2, 3, 4]

In [5]:
y = list(x)

In [6]:
type(y)

list

In [8]:
z = np.array(y)
z*4

array([ 4,  8, 12, 16])

In [9]:
x = [1,2,3]
y = x * 2
z = np.array(y)
z[2:4]

array([3, 1])

In [18]:
x = {'first':'Brock', 'last':'Tibert', 'values': [1,2,3,4]}
x['values'].append(5)
x

{'first': 'Brock', 'last': 'Tibert', 'values': [1, 2, 3, 4, 5]}

In [24]:
url = "https://data.lacity.org/api/views/nxs9-385f/rows.csv?accessType=DOWNLOAD"
import pandas as pd
df = pd.read_csv(url)

NameError: name 'head' is not defined

In [41]:
print(df)

     Zip Code  Total Population  Median Age  Total Males  Total Females  \
0       91371                 1        73.5            0              1
1       90001             57110        26.6        28468          28642
2       90002             51223        25.5        24876          26347
3       90003             66266        26.3        32631          33635
4       90004             62180        34.8        31302          30878
5       90005             37681        33.9        19299          18382
6       90006             59185        32.4        30254          28931
7       90007             40920        24.0        20915          20005
8       90008             32327        39.7        14477          17850
9       90010              3800        37.8         1874           1926
10      90011            103892        26.2        52794          51098
11      90012             31103        36.3        19493          11610
12      90013             11772        44.6         7629           4143
13      90014              7005        44.8         4471           2534
14      90015             18986        31.3         9833           9153
15      90016             47596        33.9        22778          24818
16      90017             23768        29.4        12818          10950
17      90018             49310        33.2        23770          25540
18      90019             64458        35.8        31442          33016
19      90020             38967        34.6        19381          19586
20      90021              3951        44.3         2790           1161
21      90022             67179        29.8        33216          33963
22      90023             45903        28.4        23037          22866
23      90024             47452        23.6        22248          25204
24      90025             42147        34.7        20859          21288
25      90026             67869        34.0        34515          33354
26      90027             45151        38.3        22362          22789
27      90028             28714        34.0        16056          12658
28      90029             38617        34.6        19575          19042
29      90031             39316        33.5        19546          19770
..        ...               ...         ...          ...            ...
289     91792             30854        35.3        14950          15904
290     91801             52735        39.1        24833          27902
291     91803             30322        39.6        14486          15836
292     92301             32725        25.6        16857          15868
293     92371             16763        37.9         8565           8198
294     92372              6220        41.8         3136           3084
295     92397              4894        44.1         2522           2372
296     92821             35533        38.7        17338          18195
297     92823              3613        38.6         1757           1856
298     92833             51767        36.0        25643          26124
299     93040              2031        29.3         1052            979
300     93063             54366        39.0        26592          27774
301     93225              5077        44.0         2585           2492
302     93243              1699        40.9          884            815
303     93252              4176        38.4         3301            875
304     93510              7993        45.2         4086           3907
305     93523              3074        27.0         1531           1543
306     93532              2932        41.7         1642           1290
307     93534             39341        31.1        18601          20740
308     93535             72046        28.3        34879          37167
309     93536             70918        34.4        37804          33114
310     93543             13033        32.9         6695           6338
311     93544              1259        52.4          689            570
312     93550             74929        27.5        36414          38515
313     93551             50798        37.0        25056          25742
314     93552             38158        28.4        18711          19447
315     93553              2138        43.3         1121           1017
316     93560             18910        32.4         9491           9419
317     93563               388        44.5          263            125
318     93591              7285        30.9         3653           3632

     Total Households  Average Household Size
0                   1                    1.00
1               12971                    4.40
2               11731                    4.36
3               15642                    4.22
4               22547                    2.73
5               15044                    2.50
6               18617                    3.13
7               11944                    3.00
8               13841                    2.33
9                2014                    1.87
10              22168                    4.67
11              10327                    2.12
12               6416                    1.26
13               4109                    1.34
14               7420                    2.45
15              16145                    2.93
16               9338                    2.53
17              15493                    3.12
18              23344                    2.70
19              16514                    2.35
20               1561                    1.57
21              17023                    3.94
22              10727                    4.26
23              17903                    2.03
24              21228                    1.97
25              24956                    2.68
26              21929                    1.99
27              14964                    1.78
28              13883                    2.70
29              11156                    3.49
..                ...                     ...
289              9154                    3.35
290             19315                    2.71
291              9894                    3.04
292              8132                    3.81
293              5370                    3.11
294              2198                    2.83
295              1998                    2.45
296             13062                    2.72
297              1154                    3.13
298             15849                    3.23
299               522                    3.89
300             18650                    2.90
301              2080                    2.44
302               623                    2.73
303               647                    2.81
304              2729                    2.86
305              1056                    2.91
306              1079                    2.45
307             14038                    2.74
308             20672                    3.44
309             20964                    3.07
310              3560                    3.66
311               569                    2.20
312             20864                    3.58
313             15963                    3.18
314              9690                    3.93
315               816                    2.62
316              6469                    2.92
317               103                    2.53
318              1982                    3.67

[319 rows x 7 columns]

In [35]:
url = "https://data.lacity.org/api/views/nxs9-385f/rows.csv?accessType=DOWNLOAD"
import pandas as pd
df = pd.read_csv(url)

In [45]:
#df.loc[df['Zip Code'] == 90210]
df['Zip Code'] == 90210

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
Name: Zip Code, Length: 319, dtype: bool