# Read in Files Exercise

# Step 1: Setup your python session

Import the tools that we need to analyze data in python

In [1]:
import numpy as np 
import pandas as pd

## Step 2: Read in a Text file and parse it

Tips:  What is the delimiter?

In [18]:
# path to the file
data_file = "https://raw.githubusercontent.com/Btibert3/is834/master/datasets/pandas-import-file.txt"
data = pd.read_csv(data_file, delimiter='\t')

In [19]:
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

# Step 3:  Read in an Excel file

This does not have multiple worksheets.  Bring in the Excel file and set the row labels from the column ID Number.

Call the file ipeds.

In [29]:
# data file url
ipeds_url = "https://public.tableau.com/s/sites/default/files/media/Resources/IPEDS_data.xlsx"
ipeds = pd.read_excel(ipeds_url, index_col = 0)

In [30]:
ipeds.head(1)

,Name,year,ZIP code,Highest degree offered,County name,Longitude location of institution,Latitude location of institution,Religious affiliation,Offers Less than one year certificate,Offers One but less than two years certificate,...,Percent of freshmen receiving federal grant aid,Percent of freshmen receiving Pell grants,Percent of freshmen receiving other federal grant aid,Percent of freshmen receiving state/local grant aid,Percent of freshmen receiving institutional grant aid,Percent of freshmen receiving student loan aid,Percent of freshmen receiving federal student loans,Percent of freshmen receiving other loan aid,Endowment assets (year end) per FTE enrollment (GASB),Endowment assets (year end) per FTE enrollment (FASB)
ID number,,,,,,,,,,,,,,,,,,,,,
100654,Alabama A & M University,2013,35762,Doctor's degree - research/scholarship,Madison County,-86.568502,34.783368,Not applicable,Implied no,Implied no,...,81.0,81.0,7.0,1.0,32.0,89.0,89.0,1.0,NaN,NaN

In [0]:
ipeds = pd.read_excel(ipeds_url, id=)

# Exercise 3: Multiple Workbook Excel

Let's revisit the multiple workbook example.  Bring in the congress dataset again.  

1.  Save the workbook as `congress`
2. load the Sunlight Info worksheet - save this as a dataframe called `sunlight_info`

In [0]:
# the url
govt_url = "https://public.tableau.com/s/sites/default/files/media/Resources/113thCongress.xlsx"

In [0]:

sunlight_info =