In [20]:
import numpy as np
import pandas as pd

dd = pd.read_csv('https://public.tableau.com/s/sites/default/files/media/TopBabyNamesbyState.csv')

In [21]:
dd.shape

(10506, 5)

In [22]:
dd.isnull().sum()

State         0
Gender        0
Year          0
Top Name      0
Occurences    0
dtype: int64

In [47]:
dd2 = dd.copy()
del dd2["Occurences"]

In [53]:
m = dd2.loc[dd2["Gender"] == "M"]
f = dd2.loc[dd2["Gender"] == "F"]

In [58]:
m["Top Name"].value_counts().head(1)

Michael    1404
Name: Top Name, dtype: int64

In [57]:
f["Top Name"].value_counts().head(1)

Mary    1935
Name: Top Name, dtype: int64

In [75]:
f_1 = f.loc[(f["State"] == "NH")&(f["Year"] >= 1999)]
f_1["Top Name"].value_counts()

Emma      6
Emily     4
Sophia    2
Olivia    2
Name: Top Name, dtype: int64

# Part 2

## Question 1

In [82]:
wine = pd.read_csv("https://raw.githubusercontent.com/shri1407/Wine-Quality-Dataset/master/winequality-white.csv", delimiter=";")

In [86]:
wine.shape

(4898, 12)

## Question 2

In [88]:
wine.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

## Question 3

In [110]:
wine["alcohol"].mean()

10.514267047774602

## Question 4

In [114]:
wine.std()

fixed acidity            0.843868
volatile acidity         0.100795
citric acid              0.121020
residual sugar           5.072058
chlorides                0.021848
free sulfur dioxide     17.007137
total sulfur dioxide    42.498065
density                  0.002991
pH                       0.151001
sulphates                0.114126
alcohol                  1.230621
quality                  0.885639
dtype: float64

## Question 5

In [116]:
wine.corr()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
fixed acidity,1.000000,-0.022697,0.289181,0.089021,0.023086,-0.049396,0.091070,0.265331,-0.425858,-0.017143,-0.120881,-0.113663
volatile acidity,-0.022697,1.000000,-0.149472,0.064286,0.070512,-0.097012,0.089261,0.027114,-0.031915,-0.035728,0.067718,-0.194723
citric acid,0.289181,-0.149472,1.000000,0.094212,0.114364,0.094077,0.121131,0.149503,-0.163748,0.062331,-0.075729,-0.009209
residual sugar,0.089021,0.064286,0.094212,1.000000,0.088685,0.299098,0.401439,0.838966,-0.194133,-0.026664,-0.450631,-0.097577
chlorides,0.023086,0.070512,0.114364,0.088685,1.000000,0.101392,0.198910,0.257211,-0.090439,0.016763,-0.360189,-0.209934
free sulfur dioxide,-0.049396,-0.097012,0.094077,0.299098,0.101392,1.000000,0.615501,0.294210,-0.000618,0.059217,-0.250104,0.008158
total sulfur dioxide,0.091070,0.089261,0.121131,0.401439,0.198910,0.615501,1.000000,0.529881,0.002321,0.134562,-0.448892,-0.174737
density,0.265331,0.027114,0.149503,0.838966,0.257211,0.294210,0.529881,1.000000,-0.093591,0.074493,-0.780138,-0.307123
pH,-0.425858,-0.031915,-0.163748,-0.194133,-0.090439,-0.000618,0.002321,-0.093591,1.000000,0.155951,0.121432,0.099427
sulphates,-0.017143,-0.035728,0.062331,-0.026664,0.016763,0.059217,0.134562,0.074493,0.155951,1.000000,-0.017433,0.053678
alcohol,-0.120881,0.067718,-0.075729,-0.450631,-0.360189,-0.250104,-0.448892,-0.780138,0.121432,-0.017433,1.000000,0.435575
quality,-0.113663,-0.194723,-0.009209,-0.097577,-0.209934,0.008158,-0.174737,-0.307123,0.099427,0.053678,0.435575,1.000000

## Question 6

In [117]:
wine2 = wine.loc[(wine["citric acid"] >0.334192) |(wine["density"]<=0.996100) ]

In [121]:
wine.shape[0] - wine2.shape[0]

614

In [144]:
wine2.shape[0]

4284

## Question 7

In [141]:
wine2.quality.value_counts()

6    1922
5    1213
7     819
8     161
4     146
3      18
9       5
Name: quality, dtype: int64

# Problem 3

## Question 1

In [185]:
ab = pd.read_excel('https://public.tableau.com/s/sites/default/files/media/airbnb.xlsx', sheet_name = 'AirBnB_NYC')

In [187]:
ab.shape

(30478, 13)

## Question 2

In [172]:
ab.notnull().sum()

Host Id                       30478
Host Since                    30475
Name                          30478
Neighbourhood                 30478
Property Type                 30475
Review Scores Rating (bin)    22155
Room Type                     30478
Zipcode                       30344
Beds                          30393
Number of Records             30478
Number Of Reviews             30478
Price                         30478
Review Scores Rating          22155
dtype: int64

## Question 3

In [171]:
ab2 = ab.copy()
del ab2["Number of Records"]

0

0

## Question 4

In [192]:
ab.Beds.fillna(ab.Beds.mean(), inplace = True)

In [191]:
ab.Beds.mean()

1.5300891652683184

## Question 5

In [193]:
beds4 = ab.loc[ab["Beds"] >=4]

In [194]:
beds4.count()

Host Id                       1366
Host Since                    1366
Name                          1366
Neighbourhood                 1366
Property Type                 1366
Review Scores Rating (bin)    1069
Room Type                     1366
Zipcode                       1356
Beds                          1366
Number of Records             1366
Number Of Reviews             1366
Price                         1366
Review Scores Rating          1069
dtype: int64

## Question 6

In [196]:
beds4.Zipcode.isna().sum()

10

## Question 7

In [198]:
beds4.dropna()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
28,3867,2008-10-29,3 bedroom apartment in Chinatown!,Manhattan,Apartment,80.0,Entire home/apt,10038.0,4.0,1,2,499,80.0
43,5926,2009-01-02,Beautiful Apt with Park Views,Manhattan,Apartment,85.0,Entire home/apt,10030.0,5.0,1,40,350,86.0
101,8730,2009-02-27,Comfort & Convenience,Manhattan,Condominium,100.0,Entire home/apt,10003.0,6.0,1,4,1990,100.0
171,21823,2009-06-16,Soaring Bushwick 3 Bedroom,Brooklyn,Apartment,95.0,Entire home/apt,11221.0,5.0,1,9,275,98.0
174,22486,2009-06-20,CBG Williamsburg loft room,Brooklyn,Loft,75.0,Entire home/apt,11211.0,4.0,1,6,130,76.0
176,22486,2009-06-20,CBG CtyBeGoodHelpsHaiti#1:1-4,Brooklyn,House,90.0,Private room,11217.0,10.0,1,77,130,91.0
191,24222,2009-07-02,"3BR, 1.5 BA EV apt w/ backyard",Manhattan,Apartment,95.0,Entire home/apt,10009.0,4.0,1,9,375,96.0
193,25183,2009-07-10,MAISON DES SIRENES 3,Brooklyn,Apartment,90.0,Entire home/apt,11216.0,4.0,1,23,150,91.0
194,25183,2009-07-10,"MAISON DES SIRENES1,book NOW",Brooklyn,Apartment,90.0,Entire home/apt,11216.0,4.0,1,36,150,92.0
241,32330,2009-08-18,East Vill Garden duplex apt-slps 7,Manhattan,Apartment,90.0,Entire home/apt,10009.0,4.0,1,29,375,94.0
242,32330,2009-08-18,HUGE-3 bedroom-ENTIRE FLR -slps 6+2,Manhattan,Apartment,80.0,Entire home/apt,10009.0,4.0,1,83,375,84.0
243,32330,2009-08-18,LARGE-3 bedroom -EAST VILL-slps 6+3,Manhattan,Apartment,75.0,Entire home/apt,10009.0,4.0,1,63,375,79.0
283,38513,2009-09-14,Spacious Modern 2 Bedroom Suite,Brooklyn,Apartment,85.0,Entire home/apt,11226.0,4.0,1,27,122,85.0
292,40275,2009-09-21,Spacious Lofty 2BD in Clinton Hill,Brooklyn,Apartment,100.0,Entire home/apt,11205.0,4.0,1,2,135,100.0
299,41437,2009-09-26,Fort Greene Lofty Retreat,Brooklyn,Loft,95.0,Entire home/apt,11205.0,4.0,1,48,200,96.0
313,45098,2009-10-11,"Lovely, calm 3 BR on leafy block",Brooklyn,Apartment,80.0,Entire home/apt,11238.0,4.0,1,1,150,80.0
369,53024,2009-11-10,One family house with 4 bedrooms!!!,Brooklyn,House,85.0,Entire home/apt,11225.0,7.0,1,5,199,85.0
377,54253,2009-11-14,Restored carriage house in Harlem,Manhattan,Townhouse,100.0,Entire home/apt,10027.0,4.0,1,1,200,100.0
399,55469,2009-11-18,NYC's Brooklyn's Treehouse Retreat,Brooklyn,House,60.0,Entire home/apt,11230.0,4.0,1,1,385,60.0
410,56663,2009-11-22,2500 sqf Chelsea Luxury Loft,Manhattan,Apartment,90.0,Entire home/apt,10001.0,4.0,1,25,445,90.0
428,58745,2009-11-30,Bed-Stuy DIY. What's mine is yours.,Brooklyn,Apartment,90.0,Entire home/apt,11221.0,4.0,1,73,136,90.0
442,59777,2009-12-03,Charming 2 Full Bath 3 Bed Suite,Brooklyn,Apartment,90.0,Entire home/apt,11221.0,6.0,1,7,207,90.0
499,63349,2009-12-15,Best Neighborhood Carroll Gardens,Brooklyn,Apartment,90.0,Entire home/apt,11231.0,6.0,1,51,275,90.0
501,63349,2009-12-15,Carroll Gardens - Modern + Sunny,Brooklyn,House,80.0,Entire home/apt,11231.0,8.0,1,1,475,80.0
504,63588,2009-12-16,4 bedroom apartment,Brooklyn,Apartment,95.0,Entire home/apt,11238.0,4.0,1,75,349,98.0
527,65837,2009-12-26,SpaHa Loft: Enormous and Bright,Manhattan,Apartment,95.0,Entire home/apt,10035.0,6.0,1,91,225,95.0
529,66087,2009-12-27,Bay Ridge Brooklyn Safe Haven,Brooklyn,Apartment,90.0,Entire home/apt,11209.0,4.0,1,47,99,90.0
531,66087,2009-12-27,just a nice place to stay,Brooklyn,Apartment,75.0,Entire home/apt,11209.0,4.0,1,8,99,77.0
543,67105,2010-01-02,Modern Brownstone living1,Brooklyn,Apartment,80.0,Entire home/apt,11233.0,6.0,1,26,220,80.0
544,67105,2010-01-02,Modern Brownstone living3,Brooklyn,Apartment,85.0,Entire home/apt,11233.0,5.0,1,20,200,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28892,36935244,2015-06-28,2 block walk from the beach in NYC,Queens,Apartment,95.0,Entire home/apt,11692.0,5.0,1,8,250,95.0
28924,37070223,2015-06-29,Spacious & Modern Time Square Apt,Manhattan,Apartment,95.0,Entire home/apt,10019.0,4.0,1,5,399,96.0
29111,37713183,2015-07-06,3BR Duplex 2 Baths - Times Square,Manhattan,Apartment,85.0,Entire home/apt,10036.0,5.0,1,4,375,85.0
29163,37916930,2015-07-08,Three-Bedroom APT in Chelsea,Manhattan,Apartment,80.0,Entire home/apt,10011.0,5.0,1,3,450,80.0
29167,37887953,2015-07-08,UWS 3br apt w/ private roof deck!,Manhattan,Apartment,100.0,Entire home/apt,10025.0,4.0,1,1,300,100.0
29196,37978338,2015-07-09,4 Bedrooms-4 Beds-East Village Gem,Manhattan,Apartment,90.0,Entire home/apt,10009.0,4.0,1,2,399,90.0
29212,37993298,2015-07-09,The Brooklyn Riviera,Brooklyn,Apartment,80.0,Shared room,11216.0,4.0,1,1,30,80.0
29213,37993298,2015-07-09,The Brooklyn Riviera,Brooklyn,Apartment,80.0,Shared room,11216.0,4.0,1,1,30,80.0
29217,38068387,2015-07-10,The Potter's Suite,Brooklyn,Apartment,75.0,Entire home/apt,11205.0,4.0,1,5,200,76.0
29218,38068387,2015-07-10,The Potters House,Brooklyn,Apartment,80.0,Entire home/apt,11205.0,4.0,1,1,225,80.0
29264,38204255,2015-07-12,Beautiful Midtown Loft,Manhattan,Apartment,100.0,Entire home/apt,10018.0,16.0,1,2,350,100.0
29276,38204255,2015-07-12,Private Bedroom in Heart of City,Manhattan,Apartment,70.0,Private room,10018.0,6.0,1,3,125,70.0
29277,38204255,2015-07-12,Unique Styled Private Room,Manhattan,Apartment,60.0,Private room,10018.0,12.0,1,1,150,60.0
29293,38365930,2015-07-13,Ridgewood/Bushwick beautiful 2 BR,Brooklyn,Apartment,90.0,Entire home/apt,11237.0,4.0,1,4,150,90.0
29330,38461357,2015-07-14,2Bedroom 4BEDs PRIVATE PARKING WIFI,Bronx,House,70.0,Entire home/apt,10469.0,4.0,1,4,120,73.0
29344,38483415,2015-07-14,3 Master Suite Flat Available,Manhattan,Apartment,65.0,Entire home/apt,10031.0,4.0,1,6,200,67.0
29346,38483415,2015-07-14,3 Master Suite near Central Park,Manhattan,Apartment,75.0,Entire home/apt,10035.0,4.0,1,4,230,75.0
29369,38572024,2015-07-15,Zenful Quiet Times Square Sanctuary,Manhattan,Apartment,100.0,Entire home/apt,10019.0,4.0,1,2,310,100.0
29418,38755108,2015-07-17,whole floor up to 9 with 5 beds 4rm,Brooklyn,House,80.0,Entire home/apt,11204.0,5.0,1,1,288,80.0
29452,38759129,2015-07-17,Stagg Bunk,Brooklyn,Loft,90.0,Shared room,11206.0,4.0,1,4,39,90.0
29457,38862522,2015-07-18,Spacious 3 bedroom 2 bathroom suite,Brooklyn,Apartment,95.0,Entire home/apt,11221.0,6.0,1,4,272,95.0
29486,38942908,2015-07-19,huge private rooftop - 2 bedrooms,Manhattan,Apartment,65.0,Entire home/apt,10023.0,4.0,1,3,320,67.0
29532,39149130,2015-07-21,Luxury/Time Square/Duplex/sleep 8,Manhattan,Apartment,100.0,Entire home/apt,10019.0,4.0,1,1,350,100.0
29624,39549563,2015-07-25,Cozy Place In Brooklyn,Brooklyn,House,90.0,Entire home/apt,11233.0,5.0,1,4,149,90.0
29902,40438790,2015-08-03,Men's room in the Guesthouse,Brooklyn,Bed & Breakfast,100.0,Shared room,11235.0,6.0,1,1,35,100.0
29941,40639121,2015-08-05,Newly renovated Apt near beach,Queens,Apartment,100.0,Entire home/apt,11694.0,5.0,1,1,350,100.0
29989,40806695,2015-08-07,Cozy Fun 2BR near Times Square,Manhattan,Apartment,65.0,Entire home/apt,10036.0,4.0,1,3,320,67.0
30032,40911249,2015-08-09,"Extra Large Apt in Safe Astoria,NYC",Queens,House,100.0,Entire home/apt,11102.0,5.0,1,1,125,100.0
30044,41105505,2015-08-10,Great Brooklyn Apt That Sleeps 10!!,Brooklyn,Apartment,100.0,Entire home/apt,11221.0,7.0,1,1,135,100.0
30249,42037915,2015-08-20,A home; a quick walk to NYC subway,Brooklyn,House,100.0,Entire home/apt,11229.0,16.0,1,1,104,100.0

In [199]:
beds4.isna().sum()

Host Id                         0
Host Since                      0
Name                            0
Neighbourhood                   0
Property Type                   0
Review Scores Rating (bin)    297
Room Type                       0
Zipcode                        10
Beds                            0
Number of Records               0
Number Of Reviews               0
Price                           0
Review Scores Rating          297
dtype: int64