# Tuples and Lists

Main difference is immutability.  

Lists are more "common" for some of our data tasks

Will show mixed types in both

## Tuples

In [9]:
# simple list, look at methods
x = 1,2,3
y = (4,5,"A",5)

In [10]:
# show the types
print(type(x))
print(type(y))

<class 'tuple'>
<class 'tuple'>

In [11]:
# count instances of something
my_tuple = 1,2,3,4,5,'A', 'b,C,d'

In [12]:
## various checks
my_tuple.count('b')
my_tuple.count(4)

1

### Immutable

 means can't be edited

In [13]:
# replace inline
my_tuple[0]

1

In [14]:
my_tuple[0] = "brock"

TypeError: 'tuple' object does not support item assignment

In [15]:
## however, we can add elements
my_new_tuple = my_tuple + ("brock",)
print(my_tuple)
print(my_new_tuple)

(1, 2, 3, 4, 5, 'A', 'b,C,d')
(1, 2, 3, 4, 5, 'A', 'b,C,d', 'brock')

In [8]:
## key is that we needed to use a tuple
my_new_tuple + ("brock")

TypeError: can only concatenate tuple (not "str") to tuple


## Lists

Lists are a powerful data type in python, and we will be expanding on this later with numpy arrays, the core of data analysis in python and pandas.

In [16]:
# create a list
my_list = []
print(type(my_list))

<class 'list'>

In [17]:
# create a list with values
myList = [0,1,2,3,4,5]

In [18]:
## append values to that list
myList.append(6)
myList

[0, 1, 2, 3, 4, 5, 6]

In [19]:
## poke around list operations
help(myList)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [20]:
## count
myList.count(3)

1

In [21]:
## add another 3 and count the instances of it
myList.append(3)
print(myList.count(3))

2

In [22]:
## remove an element
myList.remove(6)
myList

[0, 1, 2, 3, 4, 5, 3]

In [23]:
## reverse
myList.reverse()
myList

[3, 5, 4, 3, 2, 1, 0]

In [24]:
## we can also use slicing notation (more on that in a second
myList[::-1]

[0, 1, 2, 3, 4, 5, 3]

### Lists of Lists

In [25]:
## list of lists
nested = [1,2,4, [1,2,4]]

# what is the length of the list
len(nested)

4

In [26]:
## look at it
nested

[1, 2, 4, [1, 2, 4]]

In [27]:
## another example
nested = [[1,1], [2,2], [3,3]]
len(nested)

3

In [28]:
nested

[[1, 1], [2, 2], [3, 3]]

In [29]:
## append to it
nested.append(4)

In [30]:
## what do we think we will see?
nested

[[1, 1], [2, 2], [3, 3], 4]

## Slicing

In [31]:
# define the list
x = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

![slicing](https://files.realpython.com/media/t.c11ea56e8ca2.png)

In [32]:
## slicing examples - all 
x[:]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [33]:
## review upper and lower bounds
x[0:4]

## slicing is inclusive:exclusive

['foo', 'bar', 'baz', 'qux']

In [34]:
## work backwards
x[-2:-1]

['quux']

In [35]:
## get both values
x[-2:]

['quux', 'corge']

> Slicing isn't just for lists and tuples; we can use this on strings too!

In [36]:
mystring = "My name is Brock Tibert"
mystring[0:3]

'My '

# Exercises

## Question 1:

Return `x` reversed using two different methods

In [42]:
## method 1 - slicing
x[::-1]
print(x)

['corge', 'quux', 'qux', 'baz', 'bar', 'foo']

In [39]:
## method 2 - method
x.reverse()
print(x)

['corge', 'quux', 'qux', 'baz', 'bar', 'foo']

## Question 2:

For the list `newlist` defined below (you will need to run the code **in a code cell**), how many times is 3 included?

```
newlist = [1,2,3,4,5,6,5,4,3,2,1,4,5,4,3]

```

In [0]:
# define the list

In [0]:
## count the number of occurrences for 3

## Question 3:

Using the list defined below:

```
list2 = [[1,2], [3,4], [5,6], 'A', 'b', 'c']
```

return a list that is ['A','b','c']

In [0]:
list2 = [[1,2], [3,4], [5,6], 'A', 'b', 'c']

In [0]:
list2[-3:]

## Question 4:

For that same list, in the same location, make the A lowercase.

>

## Question 5:

This is a tough one.  Write a python snippet to return `6` from `list2` defined in Question 4.