# Dictionaries

A dictionary is a collection of key value pairs.

Dictionaries can be as simple as a column name and a single value (a 1-row dataset), or many values.  The terminology of key let's us looking the values from the collection.  

We will see later that python dictionaries are a very powerful data structure, and if/when we get to playing around with web APIs, fit's naturally with the `JSON` response that the modern web usees.

At the end of this notebook, we will get a sense of what this looks like.



---

# Getting Started

In [1]:
# let's get our environment setup
import numpy as np

In [2]:
# build our first dictionary
first_name = "Brock"
last_name = "Tibert"
d = {'first_name': first_name, 'last_name': last_name}

# what do we have
print(d)
print(type(d))

{'first_name': 'Brock', 'last_name': 'Tibert'}
<class 'dict'>

### What did we just do?

- We saw that we created the dictionary using `{}` and defining the `key`:`value` pairs.

- python confirmed that we created a dictionary via `<class 'dict'>`

- We saw that it's possible to define objects (strings of length 1 above) and pass those in as the `values`

### Things to know about dictionaries

- the `key` within a dictionary must be unique . 

-  the `key` must be `immutable`,  that is, numbers, strings, or tuples

- the `value` can be any python object

Let's confirm this

In [0]:
# create a tuple
tup = (1,2)

# create the dictionary with tuples for the key and for the values
{ tup: (first_name, last_name) }

In [0]:
# try to do the same with the key as a list
{ [1,2]: (first_name, last_name) }

In [0]:
# try to create a dictionary with duplicate keys
{1: 1, 2:2, 1:3}

#### What just happened - Duplicate Keys

We see that instead of yelling at us, python updated the key with the latest value but retained the complete set of unique keys

In [0]:
# create a dictionary with mixed mode keys
test_keys = {'a': 'a', 1:1, 'name': first_name, tup: last_name}
test_keys

#### What just happened - Key order

We see that the dictionary was created as expected, but the keys are not in the same order.

In python 3.7, it appears that the key order will be retained [per this post](https://mail.python.org/pipermail/python-dev/2017-December/151283.html)

In [0]:
# use the key method to get keys
test_keys.keys()

# Examples and Usage

In [0]:
# create some fake data
letters = ['A', 'B', 'C', 'D', 'E']
numbers = np.random.randint(100, size=15)
d = {'a': letters, 'b': numbers}
d

In [0]:
# get the values for a key - remember slicing?
d['a']

In [0]:
# get the entry c by indexing twice, once for key, then for the value
d['a'][2]

In [0]:
# we gave it a list, we get a list back
type(d['a'])

## Add a new key/value pair

In [0]:
# define the key and pass the value (below, a tuple)
d['c'] = (first_name, last_name)
d

In [0]:
# remember that keys are unique, so what happens if we pass in c again
d['c'] = first_name
d

## Check to see if a key exists

We can use `in` to check if a value exists, as keys are just a list overall.

In [0]:
# we can use in to check
'c' in d.keys()

In [0]:
# another test
'A' in d.keys()

> ***Remember, case sensitive!***


> Yet another example of how python is readable.  We just say `in` to see if a value is `in` something other object's values

## Delete a key

If we think of keys as columns, and the values as the rows within the spreadsheet, we can also delete the "column" of data too.

Remember `del` from week 1?

In [0]:
del d['c']
d

## Nested data

We have seen that lists can have lists .....

In [0]:
d2 = {'name': [first_name, last_name] }
print(d2)
print(type(d2))

In [0]:
# rebuild the key c to be the dictionary we just created, which includes a list
d['c'] = d2
d

In [0]:
# we can slice into data we might expect, but we need to account for the nested data structure

print(d['c'])

print(d['c'].keys())

print( d['c']['name'][1])

# Expanding Dictionaries

Remember, that just like any other object in python, when we use tools like Google Collab , Jupyter notebooks, or the `ipython` terminal, we use:

> object.`<tab>`

We can access all of the `methods` 

or

we can simply get help

In [0]:
d?

## Uncommon dictionary creation syntax

In [65]:
# uncommon, but this is also possible
dict(a=letters, b=numbers)

{'a': ['A', 'B', 'C', 'D', 'E'],
 'b': array([77, 66, 97,  2, 36, 72, 30, 84, 44, 53, 64, 98, 93, 61, 11])}

In [66]:
# but this has limits
dict(a=letters, 2=numbers)

SyntaxError: ignored



---

# A preview of what lies ahead

I mentioned above that dictionaries give us a powerful data stucture that plays nicely with the web.  Below we are going to use a web API and read the data into python using pandas in only a few lines of code.

## weather api - boston location

Click on the link below to see what the response from the API looks like

https://www.metaweather.com/api/location/search/?query=boston

> This format is `JSON` and is a very common format for data being passed around the web, especially through APIs.  However, we have tools that can parse this format into our more Excel-like data structure.

In [67]:
# import the pandas library
import pandas as pd

# bring in the data -- note that below we are using read_json, which tells
# python that this is the format
xloc = pd.read_json("https://www.metaweather.com/api/location/search/?query=boston")
xloc

              latt_long location_type   title    woeid
0  42.358631,-71.056702          City  Boston  2367105

In [69]:
# how about showing what this looks like as a dictionary
weather = xloc.to_dict()
weather

{'latt_long': {0: '42.358631,-71.056702'},
 'location_type': {0: 'City'},
 'title': {0: 'Boston'},
 'woeid': {0: 2367105}}

## Quick exercise

Write a command to extract the longitude.  

> Hint:  remember our exercises from week 1 and how we can look for methods to operate on our data