# Value Counts and Missing Data

In this lab, you will run through some exercises to explore missing data and handle it as needed

# 1 - Setup

Setup your python environment by loading pandas and numpy

In [1]:
# imports
import pandas as pd
import numpy as np

# 2  - Load in the top songs dataset

The dataset can be found on QTools Session 5 datasets or at the url shown below.

`https://raw.githubusercontent.com/Btibert3/is834/master/datasets/top100-songs-2018.csv`

In [2]:
# import the dataset as songs
songs = pd.read_csv("https://raw.githubusercontent.com/Btibert3/is834/master/datasets/top100-songs-2018.csv")

In [3]:
# look at the shape of the dataset
songs.shape

(100, 16)

In [4]:
# look at the first 3 rows
songs.head(3)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7,-9.211,1,0.1090,0.0332,NaN,0.552,0.357,77.169,198973,4
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8,-4.880,1,0.1450,0.2580,NaN,0.123,0.473,75.023,166606,4
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,NaN,NaN,5,-6.090,0,0.0898,0.1170,NaN,0.131,0.140,159.847,218147,4

# 3 - Missing Data

In [7]:
## identify the number of missing rows per column
songs.isna().sum()

id                   0
name                 0
artists              0
danceability        34
energy              34
key                  0
loudness             0
mode                 0
speechiness          0
acousticness         0
instrumentalness    95
liveness            31
valence              0
tempo                0
duration_ms          0
time_signature       0
dtype: int64

# 4 - Drop Columns

One of the fields doesnt add much value, because there are just too many missing values.  It is customary to drop it from our dataset in this case.    

Remove this column from our dataset.  

We have covered how to do this via filtering and data types, but there are multiple ways (some much easier) to do this.

In [8]:
songs_cln = songs.copy

#5 - Replace Missing Values - 1

For the column with the fewest missing values, replace the missing rows with the **median**.

# 6 - Replace Missing Values - 2

For the remaining two columns that have missing values, isolate the column that is first in the alphabet.

We are going to replace the value with mean.

#7 - Replace Missing Values 3

 Finally, lets work on the last column that has a missing value.  This one is going to be tricky but aimed to test our skills using what we have learned so far.
 
 Replace the missing values with a random number that is between the 25% and 75% percentile.  You do not need to calcualte the values dynamically, although if you want to, give it a shot!
 
 Either way, Google is your friend!