# Read in Files Exercise

# Step 1: Setup your python session

Import the tools that we need to analyze data in python

In [1]:
import numpy as np 
import pandas as pd

## Step 2: Read in a Text file and parse it

Tips:  What is the delimiter?

In [7]:
# path to the file
data_file = "https://raw.githubusercontent.com/Btibert3/is834/master/datasets/pandas-import-file.txt"
data = pd.read_csv(data_file, delimiter = "\")

SyntaxError: unexpected character after line continuation character (<ipython-input-7-cd35cff6edf7>, line 3)

In [5]:
data.head()

  crim\t"zn"\t"indus"\t"chas"\t"nox"\t"rm"\t"age"\t"dis"\t"rad"\t"tax"\t"ptratio"\t"b"\t"lstat"\t"medv"
0  0.00632\t18\t2.31\t0\t0.538\t6.575\t65.2\t4.09...
1  0.02731\t0\t7.07\t0\t0.469\t6.421\t78.9\t4.967...
2  0.02729\t0\t7.07\t0\t0.469\t7.185\t61.1\t4.967...
3  0.03237\t0\t2.18\t0\t0.458\t6.998\t45.8\t6.062...
4  0.06905\t0\t2.18\t0\t0.458\t7.147\t54.2\t6.062...

# Step 3:  Read in an Excel file

This does not have multiple worksheets.  Bring in the Excel file and set the row labels from the column ID Number.

Call the file ipeds.

In [0]:
# data file url
ipeds_url = "https://public.tableau.com/s/sites/default/files/media/Resources/IPEDS_data.xlsx"

# Exercise 3: Multiple Workbook Excel

Let's revisit the multiple workbook example.  Bring in the congress dataset again.  

1.  Save the workbook as `congress`
2. load the Sunlight Info worksheet - save this as a dataframe called `sunlight_info`

In [0]:
# the url
govt_url = "https://public.tableau.com/s/sites/default/files/media/Resources/113thCongress.xlsx"