# About

In this lab, we will reinforce the foundations of adding new columns to our dataset and sorting data

# Step 1:  Setup python for data analysis

In [1]:
import numpy as np
import pandas as pd

# Step 2:  Bring in the dataset

In [2]:
# load the file and call it fifa
url = "https://public.tableau.com/s/sites/default/files/media/fifa18_clean.csv"
fifa = pd.read_csv(url)

In [3]:
# explore the basics
fifa.head()

,Wage (€),Value (€),Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,565000,95500000,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,565000,105000000,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,280000,123000000,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,510000,97000000,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,230000,61000000,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Step 3: Remove rows

In [11]:
## remove rows where at least one value is missing
## keep the dataset as fifa
fifa.dropna(inplace = True)

In [13]:
#fifa.isna().sum()

# Step 4: Let's keep a few columns

> Save the new dataset as `fifa_final`

In [0]:
## keep only name, age, Wage (€) , Overall, Agility, Crossing, Curve, Finishing

# Step 5:  Calculate 2 columns

In [0]:
## calculate the difference between overall and finishing
## call the column diff

In [0]:
# create a column that calculates the deviation between Age and the average Age
# call this age_diff

# Step 6:  Sort the dataset

In [0]:
# print out the dataset with the 10 oldest players listed at the top

# Step 7: Sort the dataset 2

In [0]:
# sort the dataset by Crossing and Curve lowest-> highest, 
# and keep the results in the DataFrame fifa_final

In [0]:
# print out the first 7 rows