# About

This exercise will have you reinforce plotting

#1.  Setup python for analysis

In [1]:
import matplotlib as plt
import pandas as pd
import numpy as np

# 2.  Load the dataset

In [2]:
# bring in the dataset as inc
inc_url = "https://public.tableau.com/s/sites/default/files/media/Data%20Set-%20Inc5000%20Company%20List_2014.csv"
inc = pd.read_csv(inc_url)

In [3]:
# explore
inc.head()

,_input,_num,_widgetName,_source,_resultNumber,_pageUrl,id,rank,workers,company,url,state_l,state_s,city,metro,growth,revenue,industry,yrs_on_list
0,NaN,1,Inc5000 Company List,Inc5000 Company List,1,http://www.inc.com/inc5000list/json/inc5000_20...,22890,1,227,Fuhu,fuhu,California,CA,El Segundo,Los Angeles,158956.9106,195640000,Consumer Products & Services,2
1,NaN,2,Inc5000 Company List,Inc5000 Company List,2,http://www.inc.com/inc5000list/json/inc5000_20...,25747,2,191,Quest Nutrition,quest-nutrition,California,CA,El Segundo,Los Angeles,57347.9246,82640563,Food & Beverage,1
2,NaN,3,Inc5000 Company List,Inc5000 Company List,3,http://www.inc.com/inc5000list/json/inc5000_20...,25643,3,145,Reliant Asset Management,reliant-asset-management,Virginia,VA,Arlington,Washington DC,55460.1646,85076502,Business Products & Services,1
3,NaN,4,Inc5000 Company List,Inc5000 Company List,4,http://www.inc.com/inc5000list/json/inc5000_20...,26098,4,62,Superfish,superfish,California,CA,Palo Alto,San Jose,26042.9630,35293000,Software,1
4,NaN,5,Inc5000 Company List,Inc5000 Company List,5,http://www.inc.com/inc5000list/json/inc5000_20...,26182,5,92,Acacia Communications,acacia-communications,Massachusetts,MA,Maynard,Boston,20690.4578,77652360,Telecommunications,1

# 3.  Keep a few core columns

In [6]:
# keep only the id, rank, workers, company, growth, revenue, yrs_on_list, industry columns
# keep the dataset as inc
inc = inc["id", "rank", "workers", "company", "growth", "revenue", "yrs_on_list", "industry columns"]

KeyError: ('id', 'rank', 'workers', 'company', 'growth', 'revenue', 'yrs_on_list', 'industry columns')

#4.  Scatterplot of revenue and works

In [0]:
# create a scatterplot of workers (x) and revenue (y)
# give the plot a title Revenue by Workers

# 5.  Create a bartplot

In [0]:
## create a horizontal barplot showing the counts by industry
## sort the largest industry on the top of the plot

# 6 - Boxplots

In [0]:
# generate a boxplot of revenue for the 1000 companies with the lowest revenue