# Group By and Aggregation Lesson

In [0]:
## update the latest seaborn
!pip install seaborn==0.9.0

In [1]:
## setup our environment
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## pandas print columns option
pd.set_option('display.max_columns', 100)

## set the styling for seaborn
sns.set_style("white")

In [2]:
## import the Orders worksheet from the Superstore.xlsx file on the course site as sales
sales = pd.read_excel("/Users/Kyle_Staples/Documents/GitHub/IS834/datasets/Superstore.xlsx", sheet_name="Orders")

In [3]:
## quick look at the file
sales.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [0]:
## note that in this case, pandas parsed our dates for us
sales.info()

In [0]:
## sumamrize
sales.describe()

In [0]:
## drop the Row ID column
sales.drop(columns=["Row ID"], inplace=True)

In [0]:
## take a look
sales.head(3)



---

## Rename Columns

A quick aside to show a handy feature, renaming columns.  We could always create new columns from the original and rename that way, but I did want to show this.

In [0]:
## rename Postal Code to zip_code
sales.rename(columns = {'Postal Code':'zip_code'}, inplace=True)

In [0]:
sales.info()

In [0]:
## we can also rename multiple columns at once
sales.rename(columns = {'Order ID':'order_id', 'Product ID':'product_id'}, inplace=True)

In [0]:
sales.columns

In [0]:
## but we can also map across all -- lets say lowercase all column names
sales.rename(str.lower, axis=1, inplace=True)

In [0]:
sales.head()



---

## Group By overview

In [0]:
# what are the categories in the sales dataset
sales.category.value_counts()

> Building on value counts, we can group by 1 or more columns and do aggregations, beyond the simple frequency count using `value_counts()`

Below is a visual of what is going on with `groupby` by grouping on animal and taking the average of water_need

![](https://data36.com/wp-content/uploads/2018/07/pandas-grouping-explained-768x510.png)


Let's use our sales dataset and play around

In [0]:
# group by category and sum
sales.groupby('category').sum()

In [0]:
# we can isolate the column that we want just like any other subsetting
category_sales = sales.groupby('category').sum()[['sales']]
category_sales

In [0]:
# lets plot it
category_sales.plot(kind="barh")

> **TIP: you can right-click to save the image to your computer. I might ask you on assignments to upload your plots as an image!**

In [0]:
## we can also group by multiple columns
cat_sub_sales = sales.groupby(['category','sub-category']).sum()
cat_sub_sales

In [0]:
# what do we have for an object?
type(cat_sub_sales)

In [0]:
# because its just a dataframe, lets keep just the columns of interest
cat_sub_sales.drop(columns=['zip_code'], inplace=True)

In [0]:
cat_sub_sales

In [0]:
cat_sub_sales.index

In [0]:
cat_sub_sales.columns

For now, let's just know that this is a multiindex and move on.  We are building the dataset as the "final product", so we can control the columns and rows before our aggregation but can avoid using the grouped columns as the index with `as_index=False`

In [0]:
## we can get around this by using as_index=F
cat_sub_sales2 = sales.groupby(['category','sub-category'], as_index=False).sum()
cat_sub_sales2

In [0]:
# We can group by datetiem columns too
daily_sales = sales.groupby("order date", as_index=False).sum()[["order date", "sales"]]
daily_sales.head()

In [0]:
daily_sales.tail()

In [0]:
# how about we plot this, but lets use seaborn and last 100 days
sns.lineplot(x="order date", y="sales", data=daily_sales.tail(100))
plt.xticks(rotation=90)
plt.show()

In [0]:
# if you wanted to use the pandas plotting from matplotlib
sales.groupby("order date", as_index=True).sum()[["sales"]].plot()

In [0]:
# multiple statistics with agg and numpy methods
region_sales = sales.groupby(["region", "category"]).agg([np.mean, np.sum])
region_sales

In [0]:
## filter columns
region_sales.loc[:, "sales"]