# Spring 2019 Midterm

<br>
<br>

![](http://touchmba.com/wp-content/uploads/2017/12/BU-Questrom.png)

## About this exam:

- Open notes, slides, notebooks, Internet all can be used, just like it will be in the real world

- Collaboration with a peer is not tolerated and will be strictly enforced via code review checks

- **Make sure that the output from your work is saved with the notebook!**

- You have the full class period, if required, for this exam

- There are **5** Parts in this exam.

- Almost always, the order of the questions matters, and will use work and results from prior questions within the Part.

- Please show all of your work , as I will provide partial credit for your process even if your answer is not correct

- I am looking to reinforce, and **challenge**, your skills based on the topics covered in the first half of this class

- Programming and Data Analysis are two separate skills that we are learning this semester, but both combine into problem solving which require stitching together various techniques to get an outcome.  The majority of this exam will try to focus on reinforcing and building our problem solving skills to kick off the second part of the semester after break.




## Tips:

- Remember that there are many `attributes` and `methods()` available to us on all objects within python.  

- hitting .<tab> on the object will pull up what is available (as long as that object is in memory)

- Google can be your friend

## Just a few helpful Resources

- https://pandas.pydata.org/pandas-docs/stable/reference/frame.html
- https://pandas.pydata.org/pandas-docs/stable/reference/series.html
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html
- https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html

# Setup:

In [1]:
## setup your tools here:
import pandas as pd
import numpy as np



<br>
<hr color="red"  width="100%"  size="2">
<br>

# Part 1

In [0]:
# Q1: Create a random integer array of 1000 numbers between 2 and 87 (inclusive)
# call the array x
i = 0
arr = np.array()
while(i<1000):

In [0]:
# Q2: confirm the length of x

In [0]:
# Q3: square each value in x and save the results to y

In [0]:
# Q4: calculate the average of y

In [0]:
# Q5: calculate the difference between y and x, store the results as x



---

In [0]:
# Load the data below into sentences for the next few questions
sentences = """
Check back tomorrow; I will see if the book has arrived.
Mary plays the piano.
He didnâ€™t want to go to the dentist, yet he went anyway.
"""

In [0]:
# Q6: How many characters are in sentences

In [0]:
# Q7: What type of object is sentences?

In [0]:
# Q8: make sentences all upper case, save it to sentences_upper

In [0]:
# Q9: strip all whitespace characters from sentences_upper and save it to sentences_trim

In [0]:
# Q10: split each sentence from sentences_trim into a list entry

In [0]:
# Q11: Convert this to a numpy array called sentence_np

In [0]:
# Q13 print the shape of the array sentence_np

<br>
<hr color="red"  width="100%"  size="2">
<br>

# Part 2 

This part will use a `json` dataset that can be found at the URL below:

> `https://data.nasa.gov/resource/y77d-th95.json`

The dataset captures Earth meteorite landings.

In [0]:
## Q1:  read this into a pandas dataframe called space

In [0]:
## Q2:  how many rows and columns exist in space

In [0]:
## Q3:  print out the last 7 rows of space

In [0]:
## Q4:  keep ONLY the columns from fall to year -- call the new dataframe space 2

In [0]:
## Q5:  how many missing data values are there for each columns in space2

In [0]:
## Q6:  remove all rows were there are at least 1 value missing
##      save this as space_clean

In [0]:
## Q7:  confirm that there are no missing values for any rows in space_clean

In [0]:
## Q8:  what is average mass for all meteorites in space_clean

In [0]:
## Q9:  create a boxplot for the mass of all meteorites in space_clean

In [0]:
## Q10:  get the summary statistics for the Column mass from space_clean

In [0]:
## Q11:  sort the rows of space_clean descending by the column mass
##       keep the results in the dataframe called space_clean

In [0]:
## Q12:  print out rows that represent the largest meteorites by mass

In [0]:
## Q13:  keep the 100 smallest meteorites and save this as space100

In [0]:
## Q14:  create a boxplot of the mass for the smallest 100 meteorites
##       give the plot a title of: Distribution for Smallest 100 Meteorites to land on Earth

<br>
<hr color="red"  width="100%"  size="2">
<br>

# Part 3

This part deals with a dataset from the televsion painter Bob Ross.

The dataset can be loaded from the url shown below:

> `https://raw.githubusercontent.com/fivethirtyeight/data/master/bob-ross/elements-by-episode.csv`


### Data notes:

The numeric columns are bounded to 0/1, with a 1 representing if the element was found within the episode

In [0]:
## set some options to help with printing and exploring of this dataset
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [0]:
## Q1:  load the dataset and call it bobross

In [0]:
## Q2:  write a snippet of code that returns a single number, the number of columns in the dataset

In [0]:
## Q3:  Return the 5 columns that appeared the most (sum) across all episodes
##      Return both the column name and the number of appearances

In [0]:
## Q5:  Remove the " chracter from the title column with no character (""), put this in a new column called title2

In [0]:
## Q6:  Identify the 15 episodes with the longest titles
##      Return just the title

In [0]:
## Q7:  Create a new column, total_elements, that is the count (or sum) of the total number of elements found within an episode
##      Elements that are considered should be APPLE_FRAME to WOOD_FRAMED

In [0]:
## Q8:  Create a boxplot for this new column, total elements

In [0]:
## Q9:  Using python, create two columns, one for the season number, and the second for the episode number
##      the finished column should be a number for each
##      the columns should be season_num and episode_num

<br>
<hr color="red"  width="100%"  size="2">
<br>

# Part 4:

This next dataset looks at graduate outcomes by major.  The dataset can be found at the url below:

> `https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/grad-students.csv`

## Data Dictionary:

Header | Description
---|---------
`Rank` | Rank by median earnings
`Major_code` | Major code, FO1DP in ACS PUMS
`Major` | Major description
`Major_category` | Category of major from Carnevale et al
`Total` | Total number of people with major
`Sample_size` | Sample size (unweighted) of full-time, year-round ONLY (used for earnings)
`Men` | Male graduates
`Women` | Female graduates
`ShareWomen` | Women as share of total
`Employed` | Number employed (ESR == 1 or 2)
`Full_time` | Employed 35 hours or more
`Part_time` | Employed less than 35 hours
`Full_time_year_round` | Employed at least 50 weeks (WKW == 1) and at least 35 hours (WKHP >= 35)
`Unemployed` | Number unemployed (ESR == 3)
`Unemployment_rate` | Unemployed / (Unemployed + Employed)
`Median` | Median earnings of full-time, year-round workers
`P25th` | 25th percentile of earnigns
`P75th` | 75th percentile of earnings
`College_jobs` | Number with job requiring a college degree
`Non_college_jobs` | Number with job not requiring a college degree
`Low_wage_jobs` | Number in low-wage service jobs

In [0]:
## Q1:  Import the dataset into a pandas DataFrame and call it grads

In [0]:
## Q2:  Create a new column that is the percentage of Total grads employed full time year round
##      call this new column pct_all_year

In [0]:
## Q3:  Create a new column that is the percentage of all Total grads in low wage service jobs
##      call this new column pct_low_wage

In [0]:
## Q4:  How many missing rows are there for each column

In [0]:
## Q5:  remove all rows that have at least 1 missing value in any column
##      this new dataset should still be called grads

In [0]:
## Q6:  What are the major codes for graduates with the top 5 highest unemployment rates

In [0]:
## Q7:  What are the three most common Major Categories in the dataset and how often do they appear

In [0]:
## Q8:  Return the correlation between pct_all_year and pct_low_wage- you calculated these two columns above
##      Return a single number only

In [0]:
## Q9:  Create a horizontal bar plot for the major categories showing the frequency count across the dataset
##      the most frequent categories should be at the top of the chart

In [0]:
## Q10:  Using just the Major categories that occurred 10 times or more in the dataset
##       Create a scatter plot of pct_all_year and the Share of Women

<br>
<hr color="red"  width="100%"  size="2">
<br>

## Part 5

Submit this notebook, with all of your code and output included, and post this to the exam on QTools.